

#double-auth {
    h1 {
        margin-bottom: 40px;
    }

    p {
        max-width: 600px;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    .phone-div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}