

#channel-info {
    .channel-setting-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px solid var(--divider);
        margin-top: 20px;
        padding: 10px 0;
        padding-bottom: 20px;

        .channel-setting-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .channel-setting-body {
            width: 100%;
            .non-admin-channel-info {
                padding-top: 20px;

                span {
                    font-size: 1.4rem;
                }
            }

            .admin-channel-update {
                width: 100%;

                .input-div {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;
                    gap: 10px;
                    padding: 20px 0;
                }

                .save-cancel {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    gap: 10px;
                }
            }
        }

        .friend-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            width: 100%;

            .friend-elem {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .name-level {
                    display: flex;
                    flex-direction: column;

                    span:first-child {
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                }

                svg {
                    cursor: pointer;
                }
            }
        }
    }
    .create-conversation {
        width: 100%;
        padding: 10px;
        max-height: 70vh;

        .friends-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
            gap: 10px;
            overflow-y: auto;

            .friend-elem {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .mute-div {
        padding: 10px;

        h4 {
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            border: 1px solid var(--divider);
            background-color: transparent;
            padding: 5px 10px;
            border-radius: var(--border_radius);
        }
    }
}