
#profile-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 50px 0 0 calc(60px + 10%);

	h1 {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	>p {
		margin-bottom: 80px;
	}

	h2 {
		font-size: 1.6rem;
		margin-bottom: 20px;
	}

	.update-picture-container {

		.img-edit {
			display: flex;
			flex-direction: row;
			margin-bottom: 80px;
			img {
				border-radius: 64px;
				background-color: var(--surface);
				height: 128px;
				width: 128px;
				margin-right: 30px;
				object-fit: cover;
			}

			.profile-picture-edit {
				display: flex;
				flex-direction: column;

				label {
					display: flex;
					border: 1px solid var(--divider);
					padding: 5px 10px;
					border-radius: var(--border_radius);
					cursor: pointer;
					margin-bottom: 10px;
				}

				input {
					display: none;
				}

				button:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	.update-container {
		display: flex;
		flex-direction: column;
		min-width: 300px;

		&>* {
			margin-bottom: 20px;
		}
	}

	.change-password {
		.password-row {
			display: flex;
			flex-direction: row;

			div:nth-child(2),
			div:nth-child(3) {
				margin-right: 10px;
			}

			button {
				min-width: 180px;
			}
		}
	}

	.update-footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		padding: 20px;
		width: 100%;
		margin-top: 40px;

		button:first-child {
			margin-right: 10px;
		}
	}
}