

section.profile {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	min-height: 100vh;
	padding-left: 100px;
	padding-top: 100px;

	.button {
		padding-top: 2%;
	}

	.changeProfile {
		padding-top: 10%;
		display: flex;
		flex-direction: column;

		.fillChanges {
			display: flex;
			float: left;

			input {
				background-color: var(--surface);
				border: none;
				outline: none;
				margin: 5px 0;
				padding: 5px 10px;
				border-radius: var(--border_radius);
				font-size: 1rem;
			}
		}

		// .button {
		// 	padding-top : 10px;
		// }
	}
	
}