

#user-view {
    display: flex;
    flex-direction: column;
    padding: 80px 20px 80px 80px;
    width: 100%;

    h1 {
        margin-bottom: 40px;
    }

    .user-div {
        padding: 20px 0;

        h2 {
            margin-bottom: 20px;
        }
    }

    table {
        --pending: #616B78;
        --sent: #2E86C1;
        --delivery: #17A589;
        --msg-error: #CB4335;

        width: 100%;
        position: static;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 29px;
            z-index: 5;

            th {
                text-align: start;
                padding: 10px 0;
                background-color: var(--background);

                .checkbox {
                    padding: 0 5px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-bottom: 1px solid var(--divider);
                    padding: 5px;
                    white-space: nowrap;

                    .table-elem-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: var(--border_radius);
                        width: fit-content;
                        padding: 2px 6px;
                        color: var(--on_primary);
                    }
                    .checkbox {
                        padding: 0;
                    }
                }

                &:hover td {
                    background-color: var(--surface);
                    cursor: pointer;
                }
            }
        }
    }
}